body{
  background: #B2C426;
}
#calculator table {
        border-color: #B2C426;
        background-color: white;
        margin: 0 auto; /*position of tabel on the page(center)*/
        width: 355px;
        height: 500px;
}

#calculator table tr {
        border-spacing: 20px;
}

.cifra{
    color: black;
}

tr.buttons{
    background: #e5e5e5;
}

input.display {
        width: 90%;
        height: 80px;
        text-align: right;
        background: white;
        border: none;
        color: #030303;
        font-size:33px;
}

input[type= button] {
        font-size: 32px;
        width: 80px;
        height: 60px;
        border-spacing: 20px ,20px;
        colr: #bb33ff;
        border: #e6e6ff;
        background-color: transparent;
}

hr{
    height:0.5px;
    color: white;
}
